<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
    <div>
        <div class="inline-block">
            <img src="{{ logo_image }}", alt="Skillshare logo", width="80px">
            <h1 id="header">Skillshare P1 Conversion Dashboard</h1>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- <label for="user-names">Choose a user:</label> -->
    <!-- <select name="user-names" id="user-names"></select> -->
</body>
</html>

